h1 {
    text-decoration: underline;
    color: darkviolet;
    font-style: oblique;
}

img {
    width: 7cm;
    height: 10cm;
}

.mavin {
    width: 5cm;
}

.arafat {
    width: 7cm;
}

p {
    font-family: unset;
    text-align: left;
    font-size: 20px;
}

.NB {
    font-size: 25px;
    font-style: italic;
    color: purple;
}

body  {
    background-color: #00c3ff;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: indianred;
}