 h1 {
    text-decoration: double underline;
    color: darkviolet;
    font-style: oblique;
    letter-spacing: 4px;
}

.intro {
    position: absolute;
    color: red;
    top: 79px;
    padding: 15px 70px 0px 9px;
}

.camera {
    position: relative;
    top: 3px;
    opacity: 1;
}

.cmr {
    border-radius: 15px;
    width: 530px; 
    height: 463px;
}

.nav {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 25px;
    font-weight: 477;
    font-size: 19px;
    padding-left: 5px;
    word-spacing: 7px;

}

.home {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.home:hover {
    background-color: white;
    color: black;
}

.old {
    color: white;
    text-decoration: none;
}

.old:hover {
    color: black;
    background-color: white;
}

.cartoon {
    color: white;
    text-decoration: none;
}

.cartoon:hover {
    background-color: white;
    color: black;
}

img {
    width: 266px;
    height: 380px;
}

.pics {
    border: 2px dotted red;
    width: 722px;
}

#pics {
    border: 2px solid yellowgreen;
    width: 802px;
    height: 380px;
}

.mavin {
    width: 190px;
}
.arafat {
    width: 266px;
}

p {
    font-family: unset;
    text-align: left;
    font-size: 20px;
    line-height: 27px;
}

.NB {
    font-size: 25px;
    font-style: italic;
    color: purple;
    line-height: 35px;
}

body  {
    background-color: #00c3ff;
    position: absolute;
}

.body {
    margin: 68px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: grey;
}

.tattoo {
    display: block;
}

.normal3 {
    float: left;
}

.middle {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.boundary {
    margin: 68px;
}

.NB2 {
    margin: 0px 0px 0px 266px;
    padding: 5px;
}

