 h1 {
    text-decoration: double underline;
    color: darkviolet;
    font-style: oblique;
    letter-spacing: 4px;
}

img {
    width: 266px;
    height: 380px;
}

.pics {
    border: 2px dotted red;
    width: 722px;
}

#pics {
    border: 2px solid yellowgreen;
    width: 802px;
    height: 380px;
}

.mavin {
    width: 190px;
}
.arafat {
    width: 266px;
}

p {
    font-family: unset;
    text-align: left;
    font-size: 20px;
    line-height: 27px;
}

.NB {
    font-size: 25px;
    font-style: italic;
    color: purple;
}

body  {
    background-color: #00c3ff;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: indianred v;
}

.body {
    margin: 68px;
}